.app__counter {
  background-color: rgb(158, 158, 158);
  width: 60vw;
  height: 30vw;
  
  display: flex;
  justify-content: space-around;
  align-items: center;

  font-size: 20vw;
  color: rgb(34, 34, 34);

  border: 1vw solid rgb(37, 37, 37);
}