.App {
  display: flex;
  justify-content: center;
  /* align-items: center; */

  height: 100vh;

  /* font-size: 40px; */
  color: #fff;
  background-color: rgb(73, 0, 107);
}

  .App__wrapper {
    border: 1px solid yellow;
    max-width: 98vmin;
    width: 90vmin;
    min-width: 300px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    /*width: 20vw; */
  }

  .App__square {
    width: 75vmin;
    height: 75vmin;
    max-width: 500px;
    max-height: 500px;
    
    background-color: #fff;
    border: 3px solid #fff;

    transition: all 250ms linear;
  }

    .App__square:hover {
      background-color: #fff;
      border: 3px solid #fff;

      border-radius: 20px;
    }

  .App__nav {
    /* max-width: 80vmin;
    width: 80vmin;
    min-width: 300px; */
    /* width: 100%; */
    margin-top: 2rem;
    
  }

    .App__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;

      width: 75vmin;


      /* margin-top: 5vh; */
    }

      .App__link {
        color: #fff;
        text-decoration: none;
        border: 3px solid #fff;

        padding: 1vmax 3vmax;
        font-size: 5vmax;

        transition: all 250ms linear;
      }

      .App__link:hover {
        background-color: #fff;
        color: rgb(73, 0, 107); 

        border-radius: 10px;
      }

      .App__link.active {
        background-color: rgb(175, 89, 255);
        border: 3px solid rgb(175, 89, 255);

      }

      .App__link.active:hover {
        color: #fff;
        border: 3px solid rgb(175, 89, 255);

        border-radius: 10px;
        /* border-bottom: 7px solid rgb(184, 5, 255); */

       }  


/* -------------------- MEDIA: -------------------- */