.Setting__wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;  

  margin-top: 3vh;
  width: 100%;
}

  .Setting__buttons__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 3vh;
    width: 100%;
  }

    .Setting__button {
      background-color: #fff;
      border: none;
      padding: 1vmin 3vmin;

      font-size: 50px;
      color: rgb(73, 0, 107);

      transition: all 250ms linear;
    }

    .Setting__button:hover {
      background-color: rgb(175, 89, 255);
      color: #fff;
      border-radius: 10px;
    }

    .Setting__value {
      margin: 0 3vw;
      min-width: 5vmax;
      text-align: center;
    }